body {
    background-color: #5d432c;
    background-image: url('../images/ramin-khatibi-OG8L9s1bYKc-unsplash.jpg');
    background-size: cover;
    /* filter: brightness(50%); */
}

.navbar {
    position: absolute;
    display: flex;
    background-color: #f4c430;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: black;
    border-bottom: 3px solid black;
    font-family: 'Bungee Inline', cursive;
}

.links {
    position: absolute;
    right: 10px;
    padding: 0 5px 0 5px;
}

.sidebar {
    position: absolute;
    border-radius: 10px;
    border: 5px solid black;
    top: 100px;
    left: 50px;
    bottom: 40%;
    right: 78%;
    overflow: scroll;
}

.tab {
    display: flex;
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #f1f1f1;
}

.tab button {
  background-color: #92705e;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 100%;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #f4c430;
}

.tabcontent {
  display: none;
  position: absolute;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 259px;
  min-height: 400px;
  background-color: #f4c430;
  animation: fadeEffect 1s;
  font-family: 'Roboto', sans-serif;
}

.tabcontent h3 {
    font-family: 'Bungee Inline', cursive;
}

.tablinks {
    font-family: 'Bungee Inline', cursive;
}

.game-controls {
    background-color: #f4c430;
    border: 5px solid black !important;
    border-radius: 10px;
    position: absolute;
    border: 1px solid black;
    bottom: 50px;
    left: 50px;
    right: 78%;
    top: 62%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.game-actions {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.game-start,
.game-reset {
    padding: 10px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    border: 1px solid black;
}

.game-start:hover,
.game-restart,
.game-score {
    background-color: green;
    color: white;
}

.game-reset:hover {
    background-color: red;
    color: white;
}

.game-screen {
    background-image: url('../images/dinobackground-2358.jpg');
    border: 5px solid black;
    border-radius: 10px;
    position: absolute;
    right: 50px;
    top: 100px;
    bottom: 50px;
    left: 25%;
    background-size: cover;
}

.canvas {
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 1px;
}

.word-canvas {
    position: absolute;
    width: 90%;
    height: 50%;
}

.type-input {
    position: absolute;
    height: 50px;
    width: 400px;
    bottom: 50%;
    left: 35%;
    background: none;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.ready-text,
.go-text {
    position: absolute;
    font-family: 'Bungee Inline', cursive;
    font-size: 50px;
    top: 30%;
    left: 43%;
    display: none;
}

.go-text {
    left: 48%;
}

.end-game-dialog {
    display: none;
    position: absolute;
    background-color: #f4c430;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    top: 30%;
    left: 45%;
    right: 25%;
    font-family: 'Roboto', sans-serif;
}

.end-score {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
}

.scoreboard-name {
    width: 95%;
    font-size: 15px;
    padding-top: 5px;
    margin: 5px 0 5px 0;
}

.endgame-actions {
    display: flex;
    justify-content: space-evenly;
}

.endgame-actions button {
    border: 1px solid black;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 700;
    width: 30%;
    padding: 10px;
    margin-top: 10px;
}

.strike-arr {
    position: absolute;
    right: 5px;
    font-size: 40px;
    font-family: 'Bungee Inline', cursive;
}

.score-header,
.score-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 0;
}

.score-header {
    font-weight: bold;
}

.credits {
    position: absolute;
    font-size: 10px;
    bottom: 5px;
    right: 10px;
}

.credits:hover {
    background-color: whitesmoke;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}